.page {
  min-height: 100vh;
  background-color: $color-gray;
}

.status-bar {
  width: 100%;
  height: var(--status-bar-height);
}

.header {
  border-radius: 0 0 16px 16px;
  background-color: $color-white;
}


.header-navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 40px;
  font-size: 28px;
  font-weight: normal;
  color: #252525;
}

.header-user {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 100px 40px;
}